@import '../base/_variables.scss';

.btn{
    padding: 1.2rem 3rem;
    border: none;
    border-radius: $borderRadius;
    background: none;
    font-family: $buttonFont;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
    transition: $transitionAll;
}
.btn--default{
    background-color: $defaultColor;
    color: $whiteColor;
    &:hover{
        background-color: darken($defaultColor, 8%);
    }
}
.btn--primary{
    background-color: $primaryColor;
    color: $whiteColor;
    &:hover{
        background-color: darken($primaryColor, 5%);
    }
}
.btn--secondary{
    background-color: $secondaryColor;
    color: #333;
    &:hover{
        background-color: darken($secondaryColor, 10%);
    }
}
.btn--link{
    color: $linkColor;
    text-decoration: none;
    box-shadow: none;
    &:hover{
        color: darken($primaryColor, 15%);
    }
}

//button modifiers
.btn--small{
    padding:0.40625rem 1.25rem;
    font-family: $buttonFontNormal; 
    font-size: 1.2rem;
}
.btn--round{
    border-radius: 3rem;
}