.table{width:100%;border-collapse:collapse;}
.table--alternate-row{background-color:#eee;}
.table--column-three{width:33.333%;}
.table--column{padding:10px 15px;text-align:center;}
.table--column-header{background-color:#ccc;}