@import '_fonts.scss';

//common font variables
$defaultFont: "Work Sans";
$primaryFontNormal: "Avenir Next Normal";
$primaryFontMedium: "Avenir Next";
$primaryFontBold: "Avenir Next Bold";
$bodyFont: $defaultFont;
$headingFont: $primaryFontMedium;
$buttonFont: $primaryFontNormal;
$buttonFontNormal: $primaryFontNormal;

//common color variables
$whiteColor: #fff;
$lightGreyColor: #eee;
$darkGreyColor: #aaa;
$defaultColor: #1f3557;
$primaryColor: #E66B00;
$secondaryColor: #eee;
$bodyTextColor: #333;
$linkColor: #BD5800;

//alert
$alertColor: $whiteColor;
$successBackColor: #3A8340;
$warningBackColor: #A86500;
$errorBackColor: #E31B0D;
$successTextColor: $successBackColor;
$warningTextColor: $warningBackColor;
$errorTextColor: $errorBackColor;
$errorBorderColor: $errorBackColor;
$successBorderColor: $successBackColor;
$warningBorderColor: $warningBackColor;

//border
$border: .1rem solid $lightGreyColor;
$borderRadius: .4rem;
$formControlBorder: .1rem solid lighten($darkGreyColor, 18%);

//trnaisition & animations
$transitionAll: all .3s ease;

//spacing
$spacer: 1rem;

//focus for accessibility
$elementFocus: 2px dotted $bodyTextColor;;